<!DOCTYPE html>
<html>
<head>
    <title>Add Car</title>
    <title>Add Car</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cars/addcars.css' %}">
</head>
<body>
    <h1>Add a Car</h1>
    <form method="post">
        {% csrf_token %}
        <label>Make:</label><input type="text" name="make"><br>
        <label>Model:</label><input type="text" name="model"><br>
        <label>Year:</label><input type="number" name="year"><br>
        <label>Price:</label><input type="number" step="0.01" name="price"><br>
        <label>Description:</label><textarea name="description"></textarea><br>
        <button type="submit">Add Car</button>
    </form>
</body>
</html>
