<!DOCTYPE html>
<html>
<head>
    <title>Car Listings</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cars/cars.css' %}">
</head>
<body>  
    <h1>Cars for Sale</h1>
    <ul>
        {% for car in cars %}
            <li>
                <strong>{{ car.make }} {{ car.model }}</strong> ({{ car.year }}) - ${{ car.price }}<br>
                {{ car.description }}
                <a href="/delete/{{ car.id }}/">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/add/">Add a New Car</a>
</body>
</html>
